:root {
  --primary-text-color: #e1e1e1;
  --secondary-text-color: #848484;

  --background-color: #121212;
  --raised-surface-background-color: #1e1e1e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  padding: 0 12px;
  max-width: 800px;
  margin: 0 auto;
}

p {
  color: var(--secondary-text-color);
}

a {
  color: var(--primary-text-color);
}

.logotype {
  font-size: 32px;
  color: var(--primary-text-color);
  margin-left: 24px;
}

.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.site-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.posts-list {
  margin: 0;
  padding: 0;
}

.posts-list .posts-list__item {
  margin-bottom: 16px;
}

.posts-list__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post {
  padding: 24px 16px;
  background-color: var(--raised-surface-background-color);
  border-radius: 4px;
}

.post__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  color: var(--primary-text-color);
}

.post__date {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--secondary-text-color);
}

.post__length {
  font-size: 14px;
  margin-top: 8px;
  font-weight: 300;
  color: var(--secondary-text-color);
}

.post__content h2,
.post__content h3 {
  color: var(--primary-text-color);
}

.post__content h2 {
  font-size: 22px;
}

.post__content h3 {
  font-size: 20px;
}

.post__content p,
.post__content ol,
.post__content ul,
.post__content li {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.4;
}

.post__content p:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 800px) {
  .post {
    padding: 32px 24px;
    border-radius: 12px;
  }
}
